.contact {
  width: 400px;
  height: 520px;
  background-color: rgb(131, 224, 220);
  position: absolute;
  border-radius: 20px;
  top: 15%;
  left: 37%;
  box-shadow: lightskyblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  height: 50px;
  background: rgb(240, 240, 205);
  color: rgb(85, 60, 22);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  padding-left: 20px;
  border-radius: 14px;
}

.button {
  background: rgb(128, 128, 128);
  border: none;
  color: seashell;
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
  border-radius: 3px;
}

.search {
  display: flex;
  justify-content: center;
  margin: 5px 0 5px 0;
}

.main {
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 17px;
  overflow: scroll;
}

.contact-person {
  padding: 5px;
}

.contact-person_data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: black;
}

.footer-button {
  position: absolute;
  left: 25%;
  bottom: 2%;
  background-color: seashell;
  width: 50%;
  padding: 10px 0;
  text-align: center;
  border-radius: 6px;
  font-weight: bolder;
  color: rgb(126, 63, 34);
}

.page {
  width: 600px;
  min-height: 350px;
  background: linear-gradient(#d8bfd8, #db7093);
  border: 3px solid darkmagenta;
  margin: 20px auto;
  font-size: 18px;
  font-weight: bold;
  color: #800000;
}

.user {
  display: flex;
  width: 100%;
  min-height: 25%;
}

.user-photo {
  width: 15%;
}

.user-photo img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}

.user-info {
  display: flex;
  justify-content: space-around;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 0;
}
.user-info img {
  height: 25px;
  width: 25px;
  margin-left: 3px;
  margin-right: 6px;
}

.user-nick {
  margin-left: 5px;
  margin-right: 15px;
}

.info-below {
  margin-left: 85px;
}

.main-content {
  text-align: left;
  width: 85%;
  margin-left: 15%;
  margin-top: -8%;
  padding-left: 5px;
}

.main-image img {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  height: auto;
  width: 90%;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 15px;
}

.public {
  display: -webkit-flex;
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
}

.public div {
  display: flex;
  align-self: center;
  font-weight: normal;
}

.public img {
  width: 30px;
  height: 30px;
  margin-bottom: 0;
}

.img1 {
  height: 800px;
  width: 800px;
  margin: 10px;
  border-radius: 3px;
}

.photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 210, 174);
}

.homepic {
  height: 500px;
  width: 600px;
}

h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  color: #be6180;
}

.nav {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
